lock version=1 {
    tool version="1.5.2"
    formatter name="nixfmt-rfc-style" version="1.3.1"
    oracle nixpkgs-rev="" options-hash="" {
        oracle-module name="disko" url="https://github.com/nix-community/disko" rev="725ea35e410ad83be4931d1bff7e090eacaf3563" attr="disko"
        oracle-module name="home-manager" url="https://github.com/nix-community/home-manager" rev="a6631107a83ceab5872f298a2ea710859c80c4cb" attr="home-manager"
    }

    flake-input "disko" url="github:nix-community/disko" rev="725ea35e410ad83be4931d1bff7e090eacaf3563"
    flake-input "home-manager" url="github:nix-community/home-manager" rev="a6631107a83ceab5872f298a2ea710859c80c4cb"
    flake-input "nixos-hardware" url="github:NixOS/nixos-hardware" rev="30d48a0ec6035f8140d0125af274f0de95f1e9b5"

    input "hosts/fw13.kdl" hash="blake3:09d33fb673d0ede3c634ccdf42b72b13a00bd017aaebed71d2ddf87c57584a6b"
    input "hosts/vm-cosmic.kdl" hash="blake3:24a7ccfa74648cc164729c5b9c99b52c4361ecf1dcefaa19e007c1194f15e5af"
    input "hosts/vm-gnome.kdl" hash="blake3:4af938a5e3acbc55b12893ca298e8a880bb0a1cfbde107307754adb04a07b93d"
    input "hosts/vm-plasma.kdl" hash="blake3:957be77900b4b434480361a9ec2547276f5c2b0e8d4bcfd93eb4a1cdebed560d"

    module "backups" version="0.2.1"
    module "base" version="1.0.0"
    module "desktop" version="1.0.0"
    module "disko" version="0.1.0"
    module "guest" version="1.0.0"
    module "home-manager" version="1.0.0"
    module "host" version="1.0.0"
    module "import" version="1.0.0"
    module "incus" version="1.0.0"
    module "nix-ld" version="1.0.0"
    module "openssh" version="1.0.0"
    module "os" version="1.0.0"
    module "package" version="0.1.0"
    module "postgres" version="0.4.0"
    module "raw-nix" version="1.0.0"
    module "security-headers" version="1.0.0"
    module "tailscale" version="1.0.0"
    module "user" version="1.0.0"
    module "vm-guest" version="1.0.0"
    module "web-service" version="1.2.0"
    module "zfs" version="1.0.0"

    host "fw13" {
        baseline release="26.05" nixpkgs-rev="cf5e76507c6e23b59f7e0ffcc7baa2a39ddd8442" options-hash="blake3:fba63cda255f338cc1691e145837f3101b123db3daa8d5816b90f4d0a9a7f779" {
            oracle-module name="nixos-hardware" url="https://github.com/NixOS/nixos-hardware" rev="30d48a0ec6035f8140d0125af274f0de95f1e9b5" attr="framework-amd-ai-300-series"
            oracle-module name="disko" url="https://github.com/nix-community/disko" rev="725ea35e410ad83be4931d1bff7e090eacaf3563" attr="disko"
            oracle-module name="home-manager" url="https://github.com/nix-community/home-manager" rev="a6631107a83ceab5872f298a2ea710859c80c4cb" attr="home-manager"
        }
    }

    host "vm-cosmic" {
        baseline release="26.05" nixpkgs-rev="cf5e76507c6e23b59f7e0ffcc7baa2a39ddd8442" options-hash="blake3:2805e3faf56f70efda55813b734f8ae3fa8eb1f43d0315143e5d54eccd9db062"
    }

    host "vm-gnome" {
        baseline release="26.05" nixpkgs-rev="cf5e76507c6e23b59f7e0ffcc7baa2a39ddd8442" options-hash="blake3:2805e3faf56f70efda55813b734f8ae3fa8eb1f43d0315143e5d54eccd9db062"
    }

    host "vm-plasma" {
        baseline release="26.05" nixpkgs-rev="cf5e76507c6e23b59f7e0ffcc7baa2a39ddd8442" options-hash="blake3:2805e3faf56f70efda55813b734f8ae3fa8eb1f43d0315143e5d54eccd9db062"
    }

    output "generated/flake.nix" {
        hash "blake3:cf93be306049bcc73ad32313771ad38bb4c754594a1406493239197d12024f02"
        from "knixl.kdl"
        modules
    }

    output "generated/hosts/fw13.nix" {
        hash "blake3:362a355cd0e3aad928cfb120df255c1326e8ab8abc40334d549bf1210a4e8fb6"
        from "hosts/fw13.kdl"
        modules "base" "desktop" "disko" "home-manager" "host" "package" "raw-nix" "user"
    }

    output "generated/hosts/vm-cosmic.nix" {
        hash "blake3:1a74a8a2cd2221bf65da50423a7a053e48c47c4576b5b2366c60f08f6861fe42"
        from "hosts/vm-cosmic.kdl"
        modules "base" "desktop" "host" "user" "vm-guest"
    }

    output "generated/hosts/vm-gnome.nix" {
        hash "blake3:532224b33296aaaadf3294be87dd389d1f11d2687cdf51511987e0aeff1c44bb"
        from "hosts/vm-gnome.kdl"
        modules "base" "desktop" "host" "package" "user" "vm-guest"
    }

    output "generated/hosts/vm-plasma.nix" {
        hash "blake3:d6734fb61c8bf734f41ae41a52403e9a0fa31355471dc57b70269a719d659bab"
        from "hosts/vm-plasma.kdl"
        modules "base" "desktop" "host" "package" "user" "vm-guest"
    }
}
